@use '#styles' as *;

.wrap {
  display: flex;
  flex-direction: column;

  > * {
    margin: 0;
    text-align: center;
  }
}

.logo {
  color: inherit;
  text-decoration: none;

  &MainBrand {
    color: $primary_color;
  }

  &SubBrand {
    color: $secondary_color;
    margin-top: 5px;
  }
}
